body{
    color: white;
    background-image: url('https://media1.tenor.com/m/RvHYxa1zIdAAAAAC/asd.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
}